Repository yifei-zhan/tournament-template-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --ext=ts --max-warnings=0", "prettier --write"],
  "*.{md,json}": "prettier --write"
}

adjust folder structure and make *.js runnable with node
  .eslintignore
  README.md
  copy-to-build.js
  ensure-build-folders-existence.js
  group-stage-generator.ts
  input/matches.csv
  input/teams.csv
  package-lock.json
  package.json
  services/matches-reader.ts
  services/teams-reader.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

rename tsconfig.dev.json to tsconfig.json for better reference searching
  .eslintrc.json
  README.md
  package.json
  tsconfig.json
Due: prettier --write

adjust the folder structure
  bin/generate-group-table.ts
  copy-to-build.js
  ensure-build-folders-existence.js
  index.ts
  input/group-stage-table.html
  package.json
  src/generators/group-stage-generator.ts
  src/services/group-stage-service.ts
  src/services/matches-reader.ts
  src/services/teams-reader.ts
  src/services/template-service.ts
  src/services/tournament.type.ts
  src/utils/utils.ts
  tsconfig.json
  tsconfig.prod.json
Due: eslint --ext=ts --max-warnings=0, prettier --write

update build entries
  package.json
Due: prettier --write

finish basic scores-ranking functionality
  README.md
  index.ts
  input/matches.csv
  input/scores-ranking-table.html
  playground.html
  src/services/matches-reader.ts
  src/services/scores-ranking-service.ts
  src/services/tournament.type.ts
  src/utils/utils.ts
  tsconfig.base.json
  tsconfig.json
Due: eslint --ext=ts --max-warnings=0, prettier --write

add scores ranking service
  README.md
  bin/generate-group-table.ts
  bin/generate-scores-ranking-table.ts
  index.ts
  input/scores-ranking-table.html
  package.json
  src/generators/group-stage-generator.ts
  src/generators/scores-ranking-generator.ts
  src/services/scores-ranking-service.ts
  src/utils/utils.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

add scripts to generate all tables
  README.md
  bin/generate-all.ts
  bin/generate-group-tables.ts
  index.ts
  input/matches.csv
  input/teams.csv
  package.json
  src/generators/group-stage-generator.ts
  src/services/group-stage-service.ts
  src/services/matches-reader.ts
  src/services/teams-reader.ts
  src/services/tournament.type.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

add assistance player names into matches.csv
  input/matches.csv
  src/services/matches-reader.ts
  src/services/tournament.type.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

update teams.csv
  input/teams.csv
Due: none

debug and adjust reader to use , as delimiter
  README.md
  index.ts
  input/matches.csv
  input/teams.csv
  package-lock.json
  src/csv-parse.d.ts
  src/services/file-reader-utils.ts
  src/services/matches-reader.ts
  src/services/teams-reader.ts
  src/services/tournament.type.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

make players-ranking-service generic
  README.md
  bin/generate-all.ts
  bin/generate-scores-ranking-table.ts
  index.ts
  input/matches.csv
  input/players-ranking-table.html
  src/generators/common-players-ranking-generator.ts
  src/generators/scores-ranking-generator.ts
  src/services/common-players-ranking-service.ts
  src/services/scores-ranking-service.ts
  src/utils/utils.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

add assists ranking table
  README.md
  bin/generate-assists-ranking-table.ts
  index.ts
  package.json
  src/generators/assists-ranking-generator.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

add match check and enable ignoring guest player
  README.md
  input/matches.csv
  src/services/common-players-ranking-service.ts
  src/services/matches-reader.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

add yellow-cards and red-cards ranking
  README.md
  bin/generate-assists-ranking-table.ts
  index.ts
  package.json
  src/generators/red-cards-ranking-generator.ts
  src/generators/yellow-cards-ranking-generator.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

update matches.csv
  input/matches.csv
  src/services/matches-reader.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

update include file when build
  README.md
  tsconfig.prod.json
Due: prettier --write

adjustment for mobile
  input/group-stage-table.html
  input/matches.csv
  input/players-ranking-table.html
Due: none

clean up bin and change built folder to dist
  .eslintignore
  .gitignore
  README.md
  bin/generate-all.ts
  bin/generate-group-tables.ts
  bin/generate-scores-ranking-table.ts
  copy-to-build.js
  ensure-build-folders-existence.js
  package.json
  tsconfig.json
  tsconfig.prod.json
Due: eslint --ext=ts --max-warnings=0, prettier --write

make whole process runable with docker
  .dockerignore
  Dockerfile
  README.md
  package.json
  src/generators/common-players-ranking-generator.ts
  src/generators/group-stage-generator.ts
  templates/group-stage-table.html
  templates/players-ranking-table.html
Due: eslint --ext=ts --max-warnings=0, prettier --write

add detailed guide
  README.md
Due: prettier --write

use default latest tag instead 1.0.0 for docker image
  README.md
Due: prettier --write

update matches
  README.md
  input/matches.csv
Due: prettier --write

prepare match-list template
  .gitignore
  templates/match-list.html
Due: none

extend matches type and update matches.csv also
  input/matches.csv
  src/services/matches-reader.ts
  src/services/tournament.type.ts
  templates/match-list.html
Due: eslint --ext=ts --max-warnings=0, prettier --write

WIP: add match list
  .gitignore
  index.ts
  input/matches.csv
  src/generators/common-match-list-generator.ts
  src/generators/group-stage-match-list-generator.ts
  src/generators/knockout-stage-match-list-generator.ts
  src/services/group-stage-service.ts
  src/services/match-list-service.ts
  src/services/matches-reader.ts
  src/services/tournament.type.ts
  templates/match-list.html
Due: eslint --ext=ts --max-warnings=0, prettier --write

Separate docker file Prepare AWS Lambda process
  Dockerfile
  Dockerfile.aws
  Dockerfile.base
  README.md
  index.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

fix matchlist templates
  index.ts
  input/teams.csv
  src/generators/common-match-list-generator.ts
  src/utils/utils.ts
  templates/match-list.html
Due: eslint --ext=ts --max-warnings=0, prettier --write

Have more compact tsconfigs
  tsconfig.base.json
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write

Set up AWS and enable passing input file names as env variables
  README.md
  index.ts
  input/matches.csv
  input/matches_2023BavariaCup.csv
  input/teams_2023BavariaCup.csv
  package-lock.json
  package.json
  src/aws/input/hello-world.txt
  src/aws/s3-buckets-service.ts
  src/generators/common-match-list-generator.ts
  src/services/matches-reader.ts
  src/services/teams-reader.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

resolve comments
  input/matches_2024BavariaCup.csv
  input/teams_2024BavariaCup.csv
  src/services/match-list-service.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

Update 2024_BavariaCup Matches
  input/matches_2024BavariaCup.csv
Due: none

provide players match when generating ranking tables
  README.md
  input/matches.csv
  input/players.csv
  input/teams.csv
  src/generators/assists-ranking-generator.ts
  src/generators/common-players-ranking-generator.ts
  src/generators/red-cards-ranking-generator.ts
  src/generators/scores-ranking-generator.ts
  src/generators/yellow-cards-ranking-generator.ts
  src/services/common-players-ranking-service.ts
  src/services/players-reader.ts
  src/services/tournament.type.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write

Update README
  README.md
  input/matches.csv
  input/players.csv
Due: prettier --write

update input data
  input/2023BavariaCup_matches.csv
  input/2023BavariaCup_teams.csv
  input/2024BavariaCup_matches.csv
  input/2024BavariaCup_teams.csv
  input/2024队内联赛_matches.csv
  input/2024队内联赛_players.csv
  input/matches.csv
  input/matches_2023BavariaCup.csv
  input/matches_2024BavariaCup.csv
  input/players.csv
  input/teams.csv
  input/teams_2023BavariaCup.csv
  input/teams_2024BavariaCup.csv
Due: none

new matches data
  input/matches.csv
  input/players.csv
Due: none

matches & player update
  input/matches.csv
  input/players.csv
Due: none

Update: matches
  input/matches.csv
  input/players.csv
Due: none

Update matches
  input/matches.csv
  input/players.csv
Due: none

new feature: introduce match for CountOnly
  src/services/group-stage-service.ts
  src/services/matches-reader.ts
  src/services/tournament.type.ts
Due: eslint --ext=ts --max-warnings=0, prettier --write
